body{
    font-family:monospace,'Courier New';
    font-size:18px;
}
.terminal-window{
    color:white;
    background-color:#151515;
    display:block;
    overflow-x:auto;
    overflow-y:auto;
    height:500px;
    padding:10px;
}
.terminal-window-container{
    color:#151515;
    background-color:#F9F9F9;
    border:1px solid #151515;
}
.terminal-window-container>h3{
    font-size:18px;
    margin:10px 5px 10px 11px;
}
.terminal-window-container>div>div>p{
    line-height:1.8rem;
}
.error{
    color:red;
}
.highlight{
    color:#F0FF00;
}
.root{
    margin-right:5px;
}
.cursor{
    padding:1px 1px;
    color:black;
    background-color:#AAA;
}
.blink {
	-webkit-animation: blink 1s linear infinite;
	-moz-animation: blink 1s linear infinite;
	-ms-animation: blink 1s linear infinite;
	-o-animation: blink 1s linear infinite;
	 animation: blink 1s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
.profile-command{
    text-transform:capitalize;
}
.space{
    height:80px;
    display:block;
}
/* typeahead */
#Typeahead{
    position:relative;
    top:0px;
    margin-left:58px;
    max-width:200px;
    background-color:#444;
    color:white;
    padding:0px;
    margin-bottom:5px;
    display:none;
    max-height:200px;
    overflow-y:auto;
}
#Typeahead ul{
    margin-bottom:0px;
}
#Typeahead li{
    list-style-type:none;
    list-style-position:initial;
    padding:5px 5px 5px 16px;
    background-color:inherit;
    color:inherit;
    cursor:pointer;
    margin-left:-40px;
}
#Typeahead li:hover{
    background-color:#0062D1;
    color:white;
}

/* virtual keyboard */
.virtual-keyboard{
    margin:10px 0px 10px 0px;
    background-color:cornflowerblue;
   
}
.virtual-keyboard button{
    margin:2px;
    padding:20px;
}

