/* scripted by Clyde D'Souza */
body{
    font-family:monospace,'Courier New';
    font-size:18px;
}
.terminal-window{
    color:white;
    background-color:#151515;
    display:block;
    overflow-x:auto;
    overflow-y:auto;
    height:500px;
    padding:10px;
}
.terminal-window-container{
    color:#151515;
    background-color:#F9F9F9;
    border:1px solid #151515;
}
.terminal-window-container>h3{
    font-size:18px;
    margin:10px 5px 10px 11px;
}
.terminal-window-container>div>div>p{
    line-height:1.8rem;
}
.input-container{
    max-width:1120px;
     word-wrap: break-word; 
}
.error{
    color:red;
}
.highlight{
    color:#F0FF00;
}
.root{
    margin-right:5px;
}
.cursor{
    padding:1px 1px;
    color:black;
    background-color:#AAA;
}
.console-link,.console-link:active,.console-link:hover,.console-link:visited{
    color:white;
}
.blink {
	-webkit-animation: blink 1s linear infinite;
	-moz-animation: blink 1s linear infinite;
	-ms-animation: blink 1s linear infinite;
	-o-animation: blink 1s linear infinite;
	 animation: blink 1s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
.profile-command{
    text-transform:capitalize;
}
.space{
    height:210px;
    display:block;
}
/* typeahead */
#Typeahead{
    position:relative;
    top:0px;
    margin-left:58px;
    max-width:200px;
    background-color:#444;
    color:white;
    padding:0px;
    margin-bottom:5px;
    display:none;
    max-height:200px;
    overflow-y:auto;
}
#Typeahead ul{
    margin-bottom:0px;
}
.predictive-default{
    list-style-type:none;
    list-style-position:initial;
    padding:5px 5px 5px 16px;
    background-color:inherit;
    color:inherit;
    cursor:pointer;
    margin-left:-40px;
}
.predictive-active{
    background-color:#0062D1;
    color:white;
}
.predictive-search-highlight{
    color:#F0FF00;
}
/* virtual keyboard */
.container-fluid{
    padding:0;
    margin:0;
}
.virtual-keyboard button{
    padding:7.9px;
    margin-right:0.8px;
    border-radius:0;
}
.virtual-keyboard .enter-key{
    padding-left:17px;
    padding-right:18px;
}
.virtual-keyboard .space-key{
    padding-left:46px;
    padding-right:48px;
}
.virtual-keyboard .backspace-key{
    padding-left:13px;
    padding-right:14px;
}
.virtual-keyboard .espace-key{
    padding-left:5px;
    padding-right:6px;
}
.virtual-keyboard {
    margin-left: auto;
    margin-right: auto;
    max-width: 260px;
}
.virtual-keyboard-area {
    background-color: cornflowerblue;
    padding:0;
    padding-top: 15px;
    padding-bottom: 15px;
    margin:0;
    width:100%;
    display:none;
    -webkit-transition: color 0.1s ease-in, background 3s ease-in;
    -moz-transition: color 0.1s ease-in, background 3s ease-in;
    -ms-transition: color 0.1s ease-in, background 3s ease-in;
    -o-transition: color 0.1s ease-in, background 3s ease-in;
    transition: color 0.1s ease-in, background 3s ease-in;
}
.visible-virtual-keyboard{
    display:block;
}
.virtual-keyboard-toggle-btn{
    position:fixed;
    bottom:50px;
    right:5px;
}
.virtual-keyboard-toggle-btn-active{
    position:fixed;
    bottom:225px;
    right:5px;
}



